<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Mindauga's NLP Article App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Mindaugas Karla">
        <meta name="description" content="Mindaugas's NLP Article App. This app allows users to run Natural Language Processing (NLP) on articles or blogs found on other websites. Udacity Front-End Program, Project 4" />
        <meta name="keywords" content="HTML, CSS, DOM, Web development, nanodegree, udacity, W3C, tutorials, programming, training, learning, quiz, primer, lessons, references, examples, exercises, source code, colors, demos, tips">
    </head>

    <body id="particle-canvas">
        <div></div>

        <header>
            <div class="logoNlp noselect">
                NLP
            </div>
            <div class="logoDescription noselect">
                This App allows users to run Natural Language Processing (NLP) on articles or blogs found on other websites.
                NLP is the ability of an application to understand the human language.
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return false;">
                    <div>
                        <input id="analyseValue" type="text" name="input" value="" placeholder="URL / TEXT">
                        <input id="analyseButton" class="pointerCursor" type="submit" name="" value="Analyse">
                    </div>
                    <div id="notificationForm">
                        <span id="notificationMark" class="noselect"></span>
                    </div>
                </form>
            </section>

            <section class="resultsForm">
                <div class="resultsTitleLine" class="noselect">
                    <span id="resultsTitle">RESULTS:</span>
                    <span id="resultsProcess">READY TO ANALYSE</span>
                </div>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p class="noselect">&copy; 2021, Mindaugas Karla</p>
        </footer>

    </body>
</html>