<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Travel Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Mindaugas Karla">
    <meta name="description"
        content="Mindaugas's Travel Assistant App. This app allows users to plan Travel, make to do lists, add hotels, flight date and etc." />
    <meta name="keywords"
        content="HTML, CSS, DOM, Travel, Assistant, Web development, nanodegree, udacity, W3C, tutorials, programming, training, learning, quiz, primer, lessons, references, examples, exercises, source code, colors, demos, tips">
</head>

<body id="travel-app" class="hiddenBody">
    <header id="main-header" class="hiddenPart">
        <section id="header-logo" class="noselect pointerCursor"></section>
        <section id="header-text" class="noselect pointerCursor">
            <span>
                TRAVEL
            </span>
            <span>
                Assistant
            </span>
        </section>
        <section id="header-search">
            <input id="header-search-bar" type="text" placeholder="Destination info...">
            <input id="header-search-bar-confirm" type="button" value="GO" class="pointerCursor">
            <div id="results-header-search">
                <div id="results-header-button" class="noselect pointerCursor">x</div>
                <div id="results-header"></div>
            </div>
        </section>
        <section id="header-profile">
            <div id="header-profile-image" class="">
            </div>
            <div id="header-profile-login" class="noselect">
                <span>Logged in as</span>
                <span id="header-logged-in"></span>
            </div>
        </section>
        <section id="header-logout" class="noselect pointerCursor"></section>
    </header>

    <main id="main-content" class="hiddenGrid">
        <nav id="content-menu" class="hiddenPart">
            <div id="menu-app" class="menuButton noselect pointerCursor">
                <span class="newTripIcon"></span>
                <span class="buttonText">New Trip +</span>
            </div>
            <div id="menu-list" class="menuButton noselect pointerCursor">
                <span class="newListIcon"></span>
                <span class="buttonText">New List +</span>
            </div>
            <div id="menu-about" class="menuButton noselect pointerCursor">
                <span class="newAboutIcon"></span>
                <span class="buttonText">About</span>
            </div>
            <div id="menu-contact" class="menuButton noselect pointerCursor">
                <span class="newContactsIcon"></span>
                <span class="buttonText">Contacts</span>
            </div>
        </nav>

        <section id="content-login" class="">
            <div class="login-logo">
                <div class="helloProfile"></div>
            </div>

            <div class="hello_text noselect">
                <span>I am Your Personal Travel Assistant!</span>
                <br>
            </div>
            <br>
            <div class="noselect">
                Enter Your <b>Username</b> below, and We can Start Planning!
                <br>
                <br>
                Waiting for a Vacation?
            </div>

            <div id="login-username-frame">
                <input id="login-username" type="text" placeholder="Username" min="1" max="12">
                <span id="login-notification">Wrong username, please re-enter!</span>
            </div>

            <div id="login-username-next">
                <input id="login-username-button" class="formButton pointerCursor" type="button" value="NEXT">
            </div>
        </section>

        <section id="content-profile" class="deactivated">
            <div class="login-logo">
                <div class="helloProfile"></div>
            </div>

            <div class="hello_text noselect">
                <span>Hi, <span id="user-name-profile"></span>!</span>
                <br>
            </div>
            <br>
            <div>
                <span>As a New User You have one more step.</span>
            </div>
            <br>
            <div class="noselect">
                Choose your <b>Avatar</b>!
                <br>
                <br>
            </div>
            <div class="selectorProfiles">
                <input id="firstProfile" type="radio" name="profiles" value="first">
                <input id="secondProfile" type="radio" name="profiles" value="second">
            </div>
            <div id="avatar-selection">
                <div id="profile-first">
                    <label for="firstProfile">
                        <div id="first-label" class="noselect pointerCursor"></div>
                    </label>
                </div>
                <div id="profile-second">
                    <label for="secondProfile">
                        <div id="second-label" class="noselect pointerCursor"></div>
                    </label>
                </div>
            </div>
            <div id="login-profile-next">
                <input id="login-profile-button" class="formButton pointerCursor" type="button" value="NEXT">
            </div>
        </section>

        <section id="content-intro" class="hiddenPart">
            <div class="sectionTitle">Welcome, <span id="intro-user-name"></span>!</div>
            <div class="introText">
                <span>It's Your, first Travel planning here,</span>
                <span>Don't be scared it's easy!</span>
                <span>Travel Assistant is ready to help you!</span>
            </div>

            <div class="introDescription">
                <div class="flexRow">
                    <div class="menuButton noselect">
                        <span class="newTripIcon"></span>
                        <span class="buttonText">New Trip +</span>
                    </div>
                    <div class="introDescriptionText">
                        You can create travel plans,
                        add flight's dates, notes, to see information about country,
                        weather, wind speed, population, flag, image, call code etc.
                    </div>
                </div>

                <div class="flexRow">
                    <div class="menuButton noselect">
                        <span class="newListIcon"></span>
                        <span class="buttonText">New List +</span>
                    </div>
                    <div class="introDescriptionText">
                        People often forget something importan when planning trip.
                        Plan your trip before time comes and not too late!
                        Here you can create as many to do lists as you want!
                    </div>
                </div>

                <div class="flexRow">
                    <div class="menuButton noselect">
                        <span class="newAboutIcon"></span>
                        <span class="buttonText">About</span>
                    </div>
                    <div class="introDescriptionText">
                        Here you can see some information about project.
                    </div>

                </div>

                <div class="flexRow">
                    <div class="menuButton noselect">
                        <span class="newContactsIcon"></span>
                        <span class="buttonText">Contacts</span>
                    </div>
                    <div class="introDescriptionText">
                        Always good to find contact form to reach project developer and say hi :)
                    </div>
                </div>
            </div>

            <div class="introBeginButton">
                <input id="intro-confirm" class="formButton noselect pointerCursor" type="button" value="Begin">
            </div>
        </section>

        <section id="content-trip-load" class="hiddenPart">
            <div class="sectionTitle">Loaded Trip</div>
            <div id="loaded-trip-set">
                <div id="loaded-trip-name"></div>
                <div id="loaded-trip-date"></div>
                <div id="loaded-plan-destinations-live-title-preview"></div>
                <div id="loaded-plan-destinations-live-preview"></div>
                <div id="loaded-plan-destinations-live-general-preview"></div>
                <div id="loaded-trip-destination"></div>
                <div id="loaded-trip-note"></div>
                <div id="loaded-trip-todo"></div>
            </div>
            <div id="loaded-trip-build-panel">
                <input type="button" id="loaded-clear-trip-button" value="Delete" class="pointerCursor formButton">
                <input type="button" id="loaded-print-trip-button" value="Print/Pdf" class="pointerCursor formButton">
            </div>
        </section>

        <section id="content-app" class="hiddenPart">
            <div class="sectionTitle">Trip Planner</div>
            <div id="content-app-table">
                <div id="content-app-create">
                    <div class="tablesPlanTitle">
                        Plan Builder
                    </div>
                    <div>
                        <input id="plan-input-title" type="text" placeholder="Plan Title...">
                    </div>
                    <div class="travelDateInputBlock">
                        <span>When you planning to travel?</span>
                        <div class="flexRow">
                            <input type="text" id="travel-start" placeholder="2000/12/24">
                            <span class="deviderDateClass">-</span>
                            <input type="text" id="travel-end" placeholder="2000/12/28">
                        </div>
                        <input type="button" class="pointerCursor" id="add-date" value="add">
                    </div>
                    <div class="travelDestinationBlock">
                        <span>Where you planning to travel?</span>

                        <div class="addDestinationSection">
                            <input type="text" id="plan-input-destination" placeholder="Destination">
                            <input type="text" id="plan-input-hotel" placeholder="Hotel">
                            <input type="text" id="plan-input-flight-date" placeholder="Flight Date 2000/12/24">
                            <input type="button" class="pointerCursor" id="add-destination" value="add">
                        </div>
                    </div>

                    <div class="travelNoteBlock">
                        <span>Add Note (Optional)</span>
                        <div class="addNoteSection">
                            <textarea id="plan-input-textarea"></textarea>
                            <input type="button" class="pointerCursor" id="add-note" value="add">
                        </div>
                    </div>

                    <div class="travelTodoBlock">
                        <span>To Do List Name (Optional)</span>

                        <div class="addTodoSection">
                            <input type="text" id="plan-input-todo" placeholder="To Do List">
                            <input type="button" class="pointerCursor" id="add-todo" value="add">
                        </div>
                    </div>
                </div>
                <div id="content-app-result">
                    <div class="tablesPlanTitle">
                        Live Preview
                    </div>
                    <div id="results-print">
                        <div id="plan-name-live-preview"></div>
                        <div id="plan-date-live-preview"></div>
                        <div id="plan-destinations-live-title-preview"></div>
                        <div id="plan-destinations-live-preview"></div>
                        <div id="plan-destinations-live-general-preview"></div>
                        <div id="plan-note-live-preview"></div>
                        <div id="plan-todolist-live-preview"></div>
                    </div>
                </div>
            </div>

            <div id="trip-build-panel">
                <input type="button" id="clear-trip-button" value="Clear" class="pointerCursor formButton">
                <input type="button" id="save-trip-button" value="Save" class="pointerCursor formButton">
                <input type="button" id="print-trip-button" value="Print/Pdf" class="pointerCursor formButton">
            </div>
        </section>

        <section id="content-list" class="hiddenPart">
            <div class="sectionTitle">To Do List</div>

            <div id="list-to-do">
                <div id="list-name">
                    <input type="text" id="list-input-name" placeholder="List Title...">
                </div>
                <div id="myDIV" class="myListAddHeader">
                    <input type="text" id="myInput" placeholder="Task...">
                    <span id="add-new-list-item" class="addBtn">Add</span>
                </div>

                <ul id="myUL">
                    <li>Charger</li>
                    <li class="checked">Passport</li>
                    <li>Tickets</li>
                    <li>Say bye to my cat</li>
                    <li>Take book</li>
                </ul>

                <div id="to-do-list-panel">
                    <input type="button" id="list-clear-button" value="Clear" class="pointerCursor formButton">
                    <input type="button" id="list-save-button" value="Save" class="pointerCursor formButton">
                </div>
            </div>
        </section>

        <section id="content-about" class="hiddenPart">
            <div id="aboutTitle" class="sectionTitle">About</div>
            <div id="aboutText"><b>Travel Assistant</b> is a powerful tool to plan your Trips.
                You can create travel plans, add flight's dates, create to do lists. To lists is a good way to Reach new
                productivity peak!
                People often forget something importan when planning trip. Plan your trip before time comes and not too
                late! Here you can create as many to do lists as you want!
                This app was created as part of Udacity Nano Degree program as final project.
            </div>
            <div id="aboutImage"></div>
            <div id="aboutDescription">
                This project aims to give an opportunity to put all of the skills participant
                learned into one project to build own custom travel app.
                Due to the nature of this course,
                it is very JavaScript heavy,
                but it is still expected to write clean and appealing HTML/CSS.
                Participant has targeting the DOM, working with objects,
                and retrieving data from 3 APIs in which one of those is
                reliant on another to work. Finally,
                this is all done in a Webpack environment,
                using an express server, and wrapped up with service workers.
            </div>
        </section>

        <section id="content-contact" class="hiddenPart">
            <div class="sectionTitle">Contacts</div>
            <div id="contactForm">
                <div>You can contact us by email: <span class="emailFont">mindaugaskarla@gmail.com</span></div>
                <br>
                <div>or</div>
                <br>

                <a href="https://twitter.com/droopyk" class="flexRow" target="_blank">
                    <div class="contact_icons">
                        <div class="twitterIcon"></div>
                        <div class="contact_name">Twitter</div>
                    </div>
                </a>
                <a href="https://www.instagram.com/karliukena/" target="_blank">
                    <div class="flexRow">
                        <div class="instagramIcon"></div>
                        <div class="contact_name">Instagram</div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/mindaugas-karla/" target="_blank">
                    <div class="flexRow">
                        <div class="linkedinIcon"></div>
                        <div class="contact_name">LinkedIn</div>
                    </div>
                </a>
                <a href="https://www.facebook.com/MindaugasKarla" target="_blank">
                    <div class="flexRow">
                        <div class="facebookIcon"></div>
                        <div class="contact_name">Facebook</div>
                    </div>
                </a>
            </div>
        </section>

        <section id="content-widget" class="hiddenPart">
            <div id="content-widget-trips" class="widget">
                <div class="widgetsTitle">Plans</div>
                <div id="widget-plans-results">
                    No Plans Yet
                </div>
                <div class="widgetsTitle expiredSection">Expired</div>
                <div id="widget-plans-expired">
                    No Expired Plans
                </div>
            </div>
            <div id="content-widget-lists" class="widget">
                <div class="widgetsTitle">Lists</div>
                <div id="widget-lists-results">
                    No Lists Yet
                </div>
            </div>

            <div id="content-widget-author" class="widget">
                <div class="widgetsTitle">Author</div>
                <div class="authorPortraitTab noselect">
                    <div class="authorProfile"></div>
                </div>
                <h3>Mindaugas Karla</h3>
                <h4>Udacity Student</h4>
                <div class="authorIntroText">
                    <span>
                        One of the many aspects I have enjoyed about my job is the ability to manage my time by myself.
                        If you asked me what I could do without being paid, it would be something that would leave some
                        mark on the world. Not necessarily major impact but even a small achievement would be great. We
                        can make the world a better place by helping each other. Working as a community, we are bound to
                        achieve more and, therefore, provide more.
                    </span>
                </div>
            </div>
        </section>

        <section id="content-slider" class="hiddenPart">
            <div id="todays-suggestion">Today's suggestion to visit:</div>

            <div id="popular-destinations">



            </div>



        </section>
    </main>

    <footer id="main-footer" class="hiddenFooter">
        <p class="noselect">&copy; 2021, Travel Assistant by Mindaugas Karla</p>
    </footer>
    <script>
            // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js');
            //     });
            // }
    </script>
</body>

</html>