<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Travel Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Mindaugas Karla">
    <meta name="description"
        content="Mindaugas's Travel Assistant App. This app allows users to plan Travel, make to do lists, add hotels, flight date and etc." />
    <meta name="keywords"
        content="HTML, CSS, DOM, Travel, Assistant, Web development, nanodegree, udacity, W3C, tutorials, programming, training, learning, quiz, primer, lessons, references, examples, exercises, source code, colors, demos, tips">
</head>

<body id="travel-app" class="hiddenBody">
    <header id="main-header" class="hiddenPart">
        <section id="header-logo" class="noselect pointerCursor"></section>
        <section id="header-text" class="noselect pointerCursor">
            <span>
                TRAVEL
            </span>
            <span>
                Assistant
            </span>
        </section>
        <section id="header-search">
            <input id="header-search-bar" type="text" placeholder="Weather by Destination...">
            <input id="header-search-bar-confirm" type="button" value="" class="pointerCursor">
            <div id="results-header-search">
                <div id="results-header-button" class="noselect pointerCursor">x</div>

                <div id="results-header"></div>


            </div>
        </section>
        <section id="header-profile">
            <div id="header-profile-image" class="">
            </div>
            <div id="header-profile-login" class="noselect">
                <span>Logged in as</span>
                <span id="header-logged-in"></span>
            </div>
        </section>
        <section id="header-logout" class="noselect pointerCursor"></section>
    </header>

    <main id="main-content" class="hiddenGrid">
        <nav id="content-menu" class="hiddenPart">
            <div id="menu-app" class="menuButton noselect pointerCursor">
                <span class="newTripIcon"></span>
                <span class="buttonText">New Trip +</span>
            </div>
            <div id="menu-list" class="menuButton noselect pointerCursor">
                <span class="newListIcon"></span>
                <span class="buttonText">New List +</span>
            </div>
            <div id="menu-about" class="menuButton noselect pointerCursor">
                <span class="newAboutIcon"></span>
                <span class="buttonText">About</span>
            </div>
            <div id="menu-contact" class="menuButton noselect pointerCursor">
                <span class="newContactsIcon"></span>
                <span class="buttonText">Contacts</span>
            </div>
        </nav>

        <section id="content-login" class="">
            <div class="login-logo">
                <div class="helloProfile"></div>
            </div>

            <div class="hello_text noselect">
                <span>I am Your Personal Travel Assistant!</span>
                <br>
            </div>
            <br>
            <div class="noselect">
                Enter Your <b>Username</b> below, and We can Start Planning!
                <br>
                <br>
                Waiting for a Vacation?
            </div>

            <div id="login-username-frame">
                <input id="login-username" type="text" placeholder="Username" min="1" max="12">
                <span id="login-notification">Wrong username, please re-enter!</span>
            </div>

            <div id="login-username-next">
                <input id="login-username-button" class="formButton pointerCursor" type="button" value="NEXT">
            </div>
        </section>

        <section id="content-profile" class="deactivated">
            <div class="login-logo">
                <div class="helloProfile"></div>
            </div>

            <div class="hello_text noselect">
                <span>Hi, <span id="user-name-profile"></span>!</span>
                <br>
            </div>
            <br>
            <div>
                <span>As a New User You have one more step.</span>
            </div>
            <br>
            <div class="noselect">
                Choose your <b>Avatar</b>!
                <br>
                <br>
            </div>

            <div class="selectorProfiles">
                <input id="firstProfile" type="radio" name="profiles" value="first">
                <input id="secondProfile" type="radio" name="profiles" value="second">
            </div>

            <div id="avatar-selection">
                <div id="profile-first">
                    <label for="firstProfile">
                        <div id="first-label" class="noselect pointerCursor"></div>
                    </label>
                </div>
                <div id="profile-second">
                    <label for="secondProfile">
                        <div id="second-label" class="noselect pointerCursor"></div>
                    </label>
                </div>
            </div>

            <div id="login-profile-next">
                <input id="login-profile-button" class="formButton pointerCursor" type="button" value="NEXT">
            </div>

        </section>



        <section id="content-intro" class="hiddenPart">
            intro



            <div>

                <input id="intro-confirm" type="button" value="Done">

            </div>
        </section>

        <section id="content-app" class="hiddenPart">
            <div>adaasdasdsa</div>
            <div id="content-app-table">
<div id="content-app-create">
                Kurimas

            </div>
            <div id="content-app-result">
 rezultatai

            </div>


            </div>
            



        </section>



        <section id="content-list" class="hiddenPart">

            <div id="list-texts">
                <span> Reach new productivity peak!</span>
                <br>
                <span>People often forget something importan when planning trip. Plan your trip before time comes and not too late!</span>
                <br>
                <span>Here you can create as many to do lists as you want!</span>
                
            </div>


            <div id="list-to-do">
                <input id="list-title" placeholder="Title">



                <input id="list-item-1" placeholder="Passport..">


                <input id="add-new-item" type="button" value="+">
                <input id="list-save-button" type="button" value="Save">




            </div>




        </section>

        <section id="content-about" class="hiddenPart">
            <div id="aboutTitle">About</div>
            <div id="aboutText"><b>Travel Assistant</b> is a powerful tool to plan your Trips.
                You can create travel plans, add flight's dates, create to do lists.
                This app was created as part of Udacity Nano Degree program as final project.
            </div>
            <div id="aboutImage"></div>
            <div id="aboutDescription">
                This project aims to give an opportunity to put all of the skills participant
                learned into one project to build own custom travel app.
                Due to the nature of this course,
                it is very JavaScript heavy,
                but it is still expected to write clean and appealing HTML/CSS.
                Participant has targeting the DOM, working with objects,
                and retrieving data from 3 APIs in which one of those is
                reliant on another to work. Finally,
                this is all done in a Webpack environment,
                using an express server, and wrapped up with service workers.
            </div>
        </section>

        <section id="content-contact" class="hiddenPart">
            <div id="contactTitle">Contacts</div>
            <div id="contactForm">
                <div>You can contact us by email: <span class="emailFont">mindaugaskarla@gmail.com</span></div>
                <br>
                <div>or</div>
                <br>

                <a href="https://twitter.com/droopyk" style="display: flex; flex-direction: row;" target="_blank">
                    <div class="contact_icons">
                        <div class="twitterIcon"></div>
                        <div class="contact_name">Twitter</div>
                    </div>
                </a>
                <a href="https://www.instagram.com/karliukena/" target="_blank">
                    <div style="display: flex; flex-direction: row;">
                        <div class="instagramIcon"></div>
                        <div class="contact_name">Instagram</div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/mindaugas-karla/" target="_blank">
                    <div style="display: flex; flex-direction: row;">
                        <div class="linkedinIcon"></div>
                        <div class="contact_name">LinkedIn</div>
                    </div>
                </a>
                <a href="https://www.facebook.com/MindaugasKarla" target="_blank">
                    <div style="display: flex; flex-direction: row;">
                        <div class="facebookIcon"></div>
                        <div class="contact_name">Facebook</div>
                    </div>
                </a>
            </div>
        </section>





        <section id="content-widget" class="hiddenPart">
            <div id="content-widget-trips" class="widget">
                <div class="widgetsTitle">Plans</div>
                <div id="widget-plans-results">
                    No Plans Yet

                </div>

            </div>
            <div id="content-widget-lists" class="widget">
                <div class="widgetsTitle">Lists</div>
                <div id="widget-lists-results">
                    No Lists Yet

                </div>
            </div>

            <div id="content-widget-author" class="widget">
                <div class="widgetsTitle">Author</div>
                <div class="authorPortraitTab noselect">
                    <div class="authorProfile"></div>
                </div>
                <h3>Mindaugas Karla</h3>
                <h4>Web Developer</h4>
                <div class="authorIntroText">
                    <span>
                        One of the many aspects I have enjoyed about my job is the ability to manage my time by myself.
                        If you asked me what I could do without being paid, it would be something that would leave some
                        mark on the world. Not necessarily major impact but even a small achievement would be great. We
                        can make the world a better place by helping each other. Working as a community, we are bound to
                        achieve more and, therefore, provide more.
                    </span>
                </div>
            </div>


        </section>

        <section id="content-slider" class="hiddenPart">
            <div>Popular Destinations</div>

            <div id="pupular-destinations">
                <div style="height: 100px;
                width: 100px;
                background-color: red;
                border-radius: 15px;
                margin-right: 15px;">

                    Paryzius


                </div>

                <div style="height: 100px;
                width: 100px;
                background-color: red;
                border-radius: 15px;
                margin-right: 15px;">

Londonas


                </div>

                <div style="height: 100px;
                width: 100px;
                background-color: red;
                border-radius: 15px;
                margin-right: 15px;">Vilnius
                
                </div>


            </div>


            
        </section>


    </main>

    <footer id="main-footer" class="hiddenFooter">
        <p class="noselect">&copy; 2021, Travel Assistant by Mindaugas Karla</p>
    </footer>
    <script>
            // Check that service workers are supported
            // if ('serviceWorker' in navigator) {
            //     // Use the window load event to keep the page load performant
            //     window.addEventListener('load', () => {
            //         navigator.serviceWorker.register('/service-worker.js');
            //     });
            // }
    </script>
</body>

</html>