header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 10;

    max-width: 800px;
    min-width: 350px;
    margin: 100px auto 0px auto;
    border-style: solid;
    border-bottom-width: 5px;
    -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
    -moz-box-shadow: -1px 2px 8px 5px #0000001f;
    box-shadow: -1px 2px 8px 5px #0000001f;
}


.logoNlp {
    font-weight: bold;
    font-size: 70px;
}

.logoDescription {
    font-weight: lighter;
    font-size: 15px;
    padding-top: 15px;
    padding-left: 20px;
}

@media (max-width: 650px) {
    .logoDescription {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .logoDescription {
        font-size: 10px;
    }
}