$font-stack: Helvetica, sans-serif;
$primary-color: #333;


.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: default;
}

.pointerCursor {
	cursor: pointer !important;
}

/* trick to only apply in webkit */
// @media screen and (-webkit-min-device-pixel-ratio:0) { 
// 	body::-webkit-scrollbar-thumb {
// 		background-color: rgb(0 0 0 / 0%);
// 	}
// 	body:hover::-webkit-scrollbar-thumb {
// 		background-color: rgb(0 0 0 / 41%);
// 	}
// 	body::-webkit-scrollbar {
// 		width: 8px;
// 		height: 8px;
// 	}
// 	body::-webkit-scrollbar-track {
// 		display: none;
// 	}
// 	body::-webkit-scrollbar-thumb {
// 		border-radius: 10px;
// 		/*background-color: inherit;*/
// 	}
// }


// display: grid;
// 		grid-template-columns: 100px 1fr 250px;
// 		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 50px;
// 		grid-gap: 25px;
// 		grid-template-areas: 
// 			"top top top"
// 			"navigation content widgets"
// 			"navigation content widgets"
// 			"navigation content widgets"
//       "navigation slider widgets"
// 			"ft ft ft";
// 		justify-content: center;    

html {
  height: 100%;
  width: 100%;
}

@media(min-width:250px) {
	#travel-app {
    font: 100% $font-stack;
    color: $primary-color;
   
    margin: 0;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
    padding-top: 50px;
    //overflow: hidden;
    background-image: url('../images/travel_bg.png');
    background-repeat: round;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 80px 1fr 50px;
		//grid-gap: 25px;
		grid-template-areas: 
			"top"
			"content"
			"bottom";
		justify-content: center;
	}

  /** HEADER **/
  #main-header {
    grid-area: top;
    background-color: #fff5f5b0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-top: 25px;
    padding: 10px 20px;
    -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
    -moz-box-shadow: -1px 2px 8px 5px #0000001f;
    box-shadow: -1px 2px 8px 5px #0000001f;

    display: grid;
    width: 100%;
    // margin: auto;
    grid-template-columns: 70px 200px 1fr 250px 180px 60px;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas: 
      "logo logoText empty search profile logout";
    justify-content: center;


    top: 50px;
    position: sticky;
  }

  #header-logo {
    grid-area: logo;

    background-image: url("../images/logo_robot.png");
    background-repeat: no-repeat;
    background-size: 60px;
  }

  #header-text {
    grid-area: logoText;

    display: flex;
    flex-direction: column;
    padding-top: 14px;
  }

  #header-text span:nth-child(1) {
    font-weight: 800;
    font-size: 20px;
  }

  #header-text span:nth-child(2) {
    font-weight: lighter;
    font-size: 16px;
  }

 

    

  #header-search {
    grid-area: search;

    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 30px;

    display: flex;
    flex-direction: row;
  }

  
  #header-search-bar {
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #e7e8e7;
    background-color: #f9fafa;
    padding-left: 10px;
    margin-top: 17px;
    height: 35px;
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
  }

  #header-search-bar-confirm {
    width: 30px;
    padding: 0;
    height: 35px;
    margin-top: 17px;
    border: none;
    border-width: 1px;
    border-style: solid;
    border-left-width: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: #e7e8e7;
    outline: none;
    background-color: #c1e8f1;
  }

  #results-header-search {
 background-color: #ecf1f4;
  width: 300px;
  height: 200px;
  position: absolute;
  margin-top: 278px;
  border-width: 1px;
  border-color: #b4d7e6;
  border-style: solid;
  border-radius: 15px;
  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  display: none;
  }


 
#content-slider {
  display: flex;
  flex-direction: column;

}

#pupular-destinations {
display: flex;
flex-direction: row;




}




  


  #header-profile {
    grid-area: profile;
    display: flex;
    flex-direction: row;
  }

#header-profile-image {
    background-repeat: no-repeat;
    background-size: 55px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-top: 3px;
}

.profile_image_first {
  background-image: url("../images/avatar_female.jpg");
}
.profile_image_second {
  background-image: url("../images/avatar_male.jpg");
}


  #header-profile-login {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    font-size: 14px;
    padding-left: 20px;
  }

  #header-logged-in {
    font-weight: 700;
  }



  #header-logout {
    grid-area: logout;

    background-image: url("../images/logout_doors.png");
    background-repeat: no-repeat;
    background-size: 58px;


  }


  /** CONTENT **/
  #main-content {
    grid-area: content;
    min-height: 500px;
    margin-top: 25px;
    margin-bottom: 25px;

    display: grid;
    width: 100%;
    grid-gap: 30px;
    justify-content: center;

    grid-template-columns: 130px 1fr 250px;
    grid-template-rows: 1fr 150px;
    grid-template-areas: 
      "menu app widget"
      "menu slider widget";
      
  }

  .hiddenGrid {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    grid-template-areas: 
      "app" !important;
      width: 500px !important;
    
  }

  .hiddenBody {
    text-align: -webkit-center !important;
  }
  .hiddenHeader {
    width: 500px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
    grid-template-areas: "logo" !important;
  }

  .hiddenFooter {
    display: grid;
    width: 500px !important;

  }

#content-menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;

  top: 155px;
  position: fixed;
}

.menuButton {
  background-color: #fff5f5b0;
  margin-bottom: 15px;
  padding: 12px;
  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  display: flex;
  flex-direction: row;
}

.newTripIcon {
  background-image: url("../images/travel.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
}
.newListIcon {
  background-image: url("../images/list.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
}
.newAboutIcon {
  background-image: url("../images/about.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
}

.newContactsIcon {
  background-image: url("../images/contacts.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;

}


.buttonText {
  padding-top: 5px;
  padding-left: 7px;
  font-size: 15px;
}


//login

#login-username-frame {
  padding-top: 15px;
}

#login-username {
  font-size: 12px;
    border-radius: 5px;
    border: 1px solid #e7e8e7;
    background-color: #f9fafa;
    padding-left: 5px;
    margin-top: 17px;
    width: 100%;
    text-align: center;
    height: 50px;
    outline-color: #8ec0dc;
    font-size: 20px;
    color: #2c3d54;
}

#login-username-button {

  margin-top: 35px;

}

.formButton {
  border-color: #8ec0dc4a;
  width: 180px;
  height: 50px;

  border-radius: 10px;
  background-color: #d7eff6;
  font-weight: bold;
  color: #74aad8;
  border-width: 0.5px;
  text-decoration: none;
  outline: none;

}

#login-notification {
  float: left;
    padding-left: 10px;
    margin-top: -5px;
    font-size: 12px;
    color: red;
    display: none;
}


#avatar-selection {
  display: -webkit-inline-box;
}

#first-label {
  background-image: url("../images/avatar_female.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
}
.selectorProfiles {
  display: none;
}
.profileError {
  border-style: solid;
  border-right-width: 5px;
  border-color: red;
}



.profileSelected {
  border-style: solid;
  border-right-width: 5px;
  border-color: #7faccd;
}

#login-profile-next {
  margin-top:15px;
}

#second-label {
  background-image: url("../images/avatar_male.jpg");
  background-repeat: no-repeat;
  background-size: 100px;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: white;
}


//intro
#content-intro {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
}

//app
#content-app {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  display: block;

}



//list
#content-list {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
}


//about
#content-about {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;

  display: grid;
  width: 100%;
  grid-template-columns: 250px 1fr;
    grid-template-rows: min-content;
    grid-gap: 15px;
    grid-template-areas: 
      "aboutTitle aboutTitle"
      "aboutText aboutText"
      "aboutImage aboutDescription"
    ;
    
  justify-content: center;
}
#aboutTitle {
  grid-area: aboutTitle;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

#aboutText {
  grid-area: aboutText;
  font-weight: lighter;
}

#aboutImage {
  grid-area: aboutImage;
  background-image: url("../images/about_image.png");
  background-repeat: no-repeat;
  background-size: 250px;
  height: 300px;
  width: 300px;

}

#aboutDescription {
  grid-area: aboutDescription;
  font-weight: lighter;
  padding-top: 30px;
}

.hiddenPart {
  display: none !important;
}

//contact
#content-contact {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  display: block;
  font-weight: lighter;

  text-align: center;
}

#contactTitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

#contactForm {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #c1e8f1;
  border-radius: 10px;
}

#contactForm a {
  margin-bottom: 15px;
}
.contact_icons {
  display: flex; flex-direction: row;
}

.contact_name {
  padding-top: 3px;
  text-decoration: none;
  font-weight: bold;
  color:black;
}

.emailFont {
  font-weight: bold;
}

.twitterIcon {
  background-image: url("../images/twitter-64-white.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin-right: 10px;

}

.instagramIcon {
  background-image: url("../images/instagram-64-white.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin-right: 10px;

}

.linkedinIcon {
  background-image: url("../images/linkedin-64-white.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin-right: 10px;

}

.facebookIcon {
  background-image: url("../images/facebook-64-white.png");
  background-repeat: no-repeat;
  background-size: 25px;
  height: 25px;
  width:25px;
  margin-right: 10px;

}


#results-header-button {

  margin-top: 10px;
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
}



#content-widget {
  grid-area: widget;

  display: flex;
  flex-direction: column;


}

.widget {
  background-color: #fff5f5b0;
  padding: 15px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;

}

.widgetsTitle {
  text-align: center;
  color: #2b2a2a;
  font-size: 15px;
  border-bottom: 0.5px solid #7faccd;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

#widget-plans-results {
margin-top:15px;
text-align: center;
font-weight: lighter;

}

#widget-lists-results {
  margin-top:15px;
text-align: center;
font-weight: lighter;
}


#content-widget-author {
  text-align: center;


}

#content-widget-author h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-weight: bold;
}

#content-widget-author h4 {
  text-align: center;
  margin: 0;
  color: #726e66;
  padding-bottom: 15px;
}

.authorIntroText {
  font-weight: lighter;
  padding-bottom: 20px;
}

.authorPortraitTab {
  text-align: -webkit-center;
  padding-top: 15px;

}
.authorProfile {
  background-image: url("../images/author_profile.png");
  background-repeat: no-repeat;
    background-size: 65px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    text-align: center;

}


#content-slider {
  grid-area: slider;

  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 15px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;

}

.activated {
  display: block !important;
}
.deactivated {
  display: none !important;
}

#user-name-profile {
  font-weight: bolder;
}

#content-profile {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  font-weight: lighter;

  text-align: center;

  display: block;
  flex-direction: column;
  
}


#content-login {
  grid-area: app;
  background-color: #fff5f5b0;
  padding: 15px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;

  -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
  -moz-box-shadow: -1px 2px 8px 5px #0000001f;
  box-shadow: -1px 2px 8px 5px #0000001f;
  display: block;
  font-weight: lighter;

  text-align: center;

  display: flex;
  flex-direction: column;

}
.hello_text {
  margin-top: 30px;
  line-height: 34px;
}

b {
  font-weight: bolder;
}

.login-logo {
  text-align: -webkit-center;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    background-color: #ecf1f4;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 115px;
    border-style: solid;
    border-width: 10px;
    border-color: #c1e8f1;
    -webkit-box-shadow: 0px -12px 9px -2px #0000001f;
    -moz-box-shadow: 0px -12px 9px -2px #0000001f;
    box-shadow: 0px -12px 9px -2px #0000001f;
}

.hello_text span:nth-child(1) {
  // font-size: 30px;
  // font-weight: bolder;

}

.hello_text span:nth-child(1) {
  font-size: 20px;
  font-weight: lighter;
}

.helloProfile {
  background-image: url("../images/hello_image.png");
  background-repeat: no-repeat;
    background-size: 150px;
    height: 150px;
    width: 150px;

}

  /** FOOTER **/
  #main-footer {
    grid-area: bottom;
    background-color: #fff5f5b0;
    width: -webkit-fill-available;
    text-align: center;
    border-top-width: 5px;
    font-weight: lighter;
    padding-top: 17px;
    color: #708188;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    -webkit-box-shadow: -1px 2px 8px 5px #0000001f;
    -moz-box-shadow: -1px 2px 8px 5px #0000001f;
    box-shadow: -1px 2px 8px 5px #0000001f;
    
  }


  .header-layout {
    
  }



  

  #main-navigation {
    grid-area: navigation;
    background-color: green;
  }

  #main-widgets {
    grid-area: widgets;
    background-color: yellow;

  }
 
  #main-slider {
    grid-area: slider;
    background-color: blue;
  }

  
  
	
}