#app {
    position: relative;
    margin: auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    font-family: monospace;
}

#weather_header {
   
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0px 0px 8px 2px rgba(0,0,0,0.24);
    background-color: black;
    max-width: 600px;
    /* min-height: 60px; */
    margin: auto;
   
    background-color: #6795b9;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    opacity: 0.9;
    border-style: solid;
    border-width: 2px;
}

#weather_main {
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0px 0px 8px 2px rgba(0,0,0,0.24);
    
    background-image: linear-gradient(to bottom,#729dbe, #6795b9);
    max-width: 600px;
    margin: auto;
    margin-top: 15px;

    /* background-color: #6795b9; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    
    -moz-transition: height 1s ease;
  -webkit-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
}

#weather_entries {
   
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0px 0px 8px 2px rgba(0,0,0,0.24);
    background-color: black;
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    background-color: #6795b9;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    
}


.zipInput {
    color: #1888be;
    font-weight: bold;
    width: 80%;
    font-size: 20px;
    border: 2px solid #d7e4ef;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 14px;
    margin: auto;
    text-align: center;
    outline: none;
    background-color: #d3e2ed;
    margin-right: 5px;
}

.zipButton {
    font-size: 20px;
    border: 2px solid #fffff8;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px;
    margin: auto;
    width: 35px;
    height: 38px;
    text-align: center;
    outline: none;
    background-color: #d3e2ed;
    /* background: url("../images/temperature.ico") no-repeat scroll 0 0 transparent; */
    margin-left: 5px;
}


#buttonBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadedData {
    display: none;
    margin-top:50px;
    padding-bottom: 50px;
}

#feelings_set {
    display: flex;
    align-items: center;
    justify-content: center;
}

#smilesBox {
    display: none;
    padding-bottom: 30px;
}

#noteBox {
    display: none;
    padding-bottom: 30px;

}

#saveBox {
    display: none;
    font-size: 20px;
    border: 2px solid #fffff8;
    color: #6c99bb;
    font-weight: bold;
    border-radius: 8px;
    padding: 6px;
    margin: auto;
    width: 200px;
    text-align: center;
    outline: none;
    background-color: #d3e2ed;
}


.title_feelings {
    margin-bottom: 20px;
}
.facesIcon {
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    background-color: #d3e1ed;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

#noteBlock {
    padding-left: 50px;
    padding-right: 50px;
}

#recents_entries {
    text-align: left;
    font-size: 14px;
}

#recents_entries img{
    height: 20px;
}
#recents_note {
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

#feelings {
    outline: none;
    resize: vertical;
    padding: 15px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #fffff8;
    color: #1888be;
}
#showEntries {
    padding-top: 20px;
}

.last_entry {
    text-align: left;


}

.buttonImage {
    height: 100%;
    object-fit: cover;
}

.titleStats {
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: bold;
}

.dataStats {
    font-size: 15px;
    font-style: italic;
    padding-bottom: 5px;
}

.activeSmile {
    border-color: yellow;
    border-width: 5px;
}

.selectorSmiles {
    display: none;
}